table {
    border-collapse: collapse;
    margin: 20px auto;
}
td, th {
    border: 1px solid black;
    padding: 5px 10px;
    text-align: center;
}
th {
    background-color: #f0f0f0;
}
